.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Left{float:left;}
.Right{float:right;}

.Center {float:center;}

.Avatar-Item {
  display: inline-block;
}

.Avatar-Img{

  height: 40px;
  width: 40px;
  padding: 4px;

}
.Avatar-Profile-Img{

  height: 100px;
  width: 100px;
}


#search-form{
  margin-bottom: 20px;
}

#profile-form{
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#update-profile-button{
  margin-top: 40px;
  margin-left: 200px;
}

.selected{
  border: 2px solid green;
}

.not-selected{
  border: 2px solid transparent;
}